version: '3.8'

services:
  app:
    build: .
    container_name: library-api
    ports:
      - ${APP_PORT}:${APP_PORT}
    depends_on:
      - postgres
    restart: always
    env_file:
      - .env
    networks:
      - library


  postgres:
    image: postgres:latest
    container_name: pg
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ./database_db:/var/lib/postgresql/data/
      - ./schema:/docker-entrypoint-initdb.d
    networks:
      - library

networks:
  library:
    driver: bridge