name: golangci-lint

on:
  push:
    branches: [ master ]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: lint go code
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
          skip-pkg-cache: true
          skip-build-cache: true

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [ lint ]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Check out code
        uses: actions/checkout@v2

      - name: build
        run: CGO_ENABLED=0 GOOS=linux go build cmd/app/main.go